<form method="post" action="{{ path('app_kitchen_delete', {'id': kitchen.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ kitchen.id) }}">
    <button class="btn btn-dark">Delete</button>
</form>
