{% extends 'base.html.twig' %}

{% block title %}New Kitchen{% endblock %}

{% block body %}
    <h1>Create new Kitchen</h1>

    {{ include('kitchen/_form.html.twig') }}

    <a href="{{ path('app_member_show', {'id' : kitchen.owner.id}) }}"> back to member </a>
{% endblock %}
