{% extends 'base.html.twig' %}

{% block title %}Edit Cookbook{% endblock %}

{% block body %}
    <h1>Edit Cookbook</h1>

    {{ include('cookbook/_form.html.twig', {'button_label': 'Update'}) }}


    <a href="{{ path('app_member_show', {'id' : cookbook.shelf.id}) }}">back to member</a>

    {{ include('cookbook/_delete_form.html.twig') }}
{% endblock %}
