{% extends 'base.html.twig' %}

{% block title %}New Cookbook{% endblock %}

{% block body %}
    <h1>Create new Cookbook</h1>

    {{ include('cookbook/_form.html.twig') }}

    <a href="{{ path('app_member_show', {'id' : cookbook.shelf.id}) }}">back to member</a>

{% endblock %}
